header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: transparent;
    z-index: 999;
}

header .cont {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.hd__logo img {
    width: 236px;
}




.hd__btn {
    z-index: 999;
    position: relative;
    width: 40px;
    height: 20px;
}

.hd__btn div {
    position: absolute;
    width: 100%;
    background-color: #fff;
    height: 4px;
    right: 0;
    transform: rotate(0deg);
    transition: 0.7s;
}

.hd__btn div:first-child.active {
    background-color: #000;
    transform: translateY(8px) rotate(45deg);
}
.hd__btn div:last-child.active {
    background-color: #000;
    transform: translateY(-8px) rotate(-45deg);
}

.hd__btn div:first-child {
    top: 0;
}

.hd__btn div:last-child {
    bottom: 0;
}

.hd__btn:hover {
    cursor: pointer;
}

.hd__menu {
    display: none;
}

section {
    overflow: hidden;
    min-width: 100%;
}

.cont {
    width: 90%;
    max-width: 1730px;
    margin: 0 auto;
}

.right {
    position: absolute;
    color: #aaaaaa;
    bottom: 50px;
    left: 5%;
    font-size: 16px;
    font-weight: 100;
}



/* .hd__btn:hover div:last-child {
    width: 60%;
    transition: 0.5s
} */

.menu {
    width: 0px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 998;
    transition: 0.7s;
}

.menu.sss {
    width: 600px;
    height: 100vh;
}

.inner__menu {


    height: 100%;
}

.inner__menu ul {
    margin: 70px;
}



.menu .inner__menu ul li {
    padding: 25px 0;
}


.menu .inner__menu ul li a {
    color: #000;
    font-weight: bold;
    position: relative;
    font-size: 80px;
    line-height: 1.5;
}

.menu .inner__menu ul li a.aaa {
    display: block;
    content: '';
    width: 100%;
    border-bottom: solid 6px #000;
}

.menu p {
    font-size: 16px;
    font-weight: 100;
    color: #aaaaaa;
    margin-top: auto;
    margin-left: 10%;
}

@media screen and (max-width : 1023px) {
    .menu.active {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .menu.active {
        padding: 60px 20px 60px 20px;
    }
}


/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/
/*==============================================================================*/


/* @media screen and (max-width :1023px) {


    .right {
        display: none;
    }
} */